* {
    margin: 0%;
    padding: 0%;
    font-family: 'Indie Flower', cursive;
    text-align: justify;
}

h1{
    font-size: 50px;
}

h2 {
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color: blue;
}

p, dd {
    padding-inline-end: 50px;
}

span {
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 200px;
}

header {
    background-image: url(./assest/img/design1_image1.jpg);
    height: 200px;
}

table {
    width: 500px;
    height: 300px;
}

.logo {
    width: 75px;
    background-color: black;
    position: relative;
    top: 105px;
    left: 1200px;
}

.general {
    display: flex;
} 

.barra {
    width: 150px;
    height: 200px;
}

.todo {
    justify-content: flex-start;
    flex-direction: column;
}

.texto {
    display: flex;
    justify-content: space-between;
}

.lista_table {
    list-style-type: none;
}

.lista_numerada {
    list-style-position: inside;
}

.lista_alfabetica {
    list-style-position: inside;
    list-style-type:lower-latin;
}

.lista_circle {
    list-style-position: inside;
    list-style-type:circle;
}

.formulario {
    width: 1000px;
    display: flex;
}

.contenedor_columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.columna {
    display: flex;
    flex-direction: row;
}

.columna_2 {
    display: flex;
    flex-direction: column;
}

.columna_3 {
    display: flex;
    flex-direction: column;
}
